.layout {
    background-color: #fff;
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.header {
    background-color: #e5821d !important;
    font-weight: 500 !important;
}

.ant-menu {
    background-color: #e5821d !important;
    color: #fff !important;
}

.ant-menu-item-selected {
    background-color: #cc6600 !important;
}

.ant-menu-item:hover {
    color: #a96624 !important;
}

.dropdown {
    color: #fff !important;
}

.dropdown:hover {
    color: #a96624 !important;
}

.footer {
    text-align: center;
    color: #a96624 !important;
}